@import '@flyskypie/react-rpgui/css';
@import '@flyskypie/react-rpgui/css/box';
@import '@flyskypie/react-rpgui/css/icon';
@import '@flyskypie/react-rpgui/css/button';

@import '../primitive-style/main.scss';

@font-face {
    font-family: "Cubic_11";
    src        :
        url("../assets/fonts/Cubic_11/Cubic_11.woff"),
        url("../assets/fonts/Cubic_11/Cubic_11.woff2");
}

html,
body {
    font-family: "Cubic_11", "Press Start 2P", system-ui !important;
}

.rpgui-content * {
    font-family: "Cubic_11", "Press Start 2P", system-ui !important;
    font-size  : 1.4rem;
}


.rpgui-content {
    h3 {
        text-decoration: unset;
    }

    h4 {
        text-decoration: unset;
    }

    ul {
        padding-left: 0.5rem;
    }

    li {
        line-height: 1.5rem;
    }
}